@import './normalize.scss';

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Rubik';
}

body {
    height: 100%;
    width: 100%;
}

#app {
    height: 100%;
    width: 100%;
}